@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300&display=swap');

@media screen and (min-width: 390px) and (max-width: 450px) {
    body {
        background-color: #FFE77AFF;
    }

    i {
        position: absolute;
        top: 1%;
        left: 3%;
        font-size: 100px;
        color: #22B14C;
    }

    #rulepage {
        margin-top: 35%;
        font-family: 'Chakra Petch', sans-serif;
    }

    #rulepage p {
        text-align: center;
        font-size: 30pt;
        color: #0b8530;
    }

    #rulepage ol {
        font-size: 18pt;
        color: black;
        margin: 0 3% 0 3%;
    }

    ol li {
        margin-bottom: 5%;
    }
}