.time-bar {
  /* background: #d5f2b9; */
}


.time-bar div {
  height: 10px;
  background: green;
  border-radius: 10px;
  
  animation: roundtime 4s linear forwards;
  transform-origin: right center;
}

@keyframes roundtime {
  100% {
    background-color: green;
  }
  50% {
    background-color: orange;
  }
  to {
    background: red;
    transform: scaleX(0);
  }
}

