@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

@media screen and (min-width: 350px) and (max-width: 550px) {
    body {
        background-color: #FFE77AFF;
    }

    #winpage {
        text-align: center;
        margin-top: 40%;
    }

    #win-message p {
        color: #0239FA;
        font-size: 30pt;
        font-family: 'Chakra Petch', sans-serif;
    }

    #winpage a {
        text-decoration: none;
        color: #22B14C;
        font-size: 18pt;
    }
}